.col-centered {
  margin-left: 200px;
}

.col-centered1 {
  margin-left: 10px;
}

.logo {
  background-image: url(../Styling/route.svg);
  background-repeat: no-repeat;
  background-size: 2.5%;
  background-position-y: center;
}
